*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    margin:0;
    padding:0;
    background: linear-gradient(to right, #d61515, #c96a20)
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255, .75);
}

.calculator > button:hover {
    background-color: rgba(255,255,255, .90);
}

.span-two {
    grid-column: span 2;
}

.screen {
    grid-column: 1 / -1;
    background: rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .operand1 {
    color: rgba(255,255,255, .75);
    font-size: 1.5rem;
}

.screen .operand2 {
    color: white;
    font-size: 2.5rem;
}
